@media (max-width: 990px) {
  section.ideias {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 800px) {
  header {
    flex-direction: column;
  }

  nav {
    margin-top: 64px;
  }

  .idea .description {
    max-width: 250px;
  }

  .modal form {
    grid-template-columns: 1fr;
  }

  .content form div:nth-child(3),
  .content form div:nth-child(4),
  .content form div:nth-child(5),
  .content form div:nth-child(6) {
    grid-column: span 1;
  }

  .modal button {
    grid-template-columns: 1fr 1fr;
  }
}
