@media (max-width: 1150px) {
  body {
    flex-direction: column;
    align-items: center;
  }

  .intro {
    width: 500px;
    margin-right: 0px;
  }

  .last-ideias {
    width: 90%;
  }

  .idea .description {
    max-width: 800px;
  }
}

@media (max-width: 800px) {
  .idea .description {
    max-width: 250px;
  }

  .modal form {
    grid-template-columns: 1fr;
  }

  .content form div:nth-child(3),
  .content form div:nth-child(4),
  .content form div:nth-child(5),
  .content form div:nth-child(6) {
    grid-column: span 1;
  }

  .modal button {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .intro {
    width: 350px;
  }
}
