/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: 'Montserrat', sans-serif;
  color: #25282b;

  display: flex;
  justify-content: center;

  margin: 40px 0px;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: #FF5E84;
  transition: color 0.3s;
}

a:hover {
  color: #FF5E84be;
}

p {
  margin: 8px 0;
}

p, .description {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

/* Header */

header {
  display: flex;
  justify-content: center;
}

/* Intro */

.intro {
  width: 300px;

  margin-right: 60px;
}

/* Intro Main */

main {
  margin: 32px 0;
}

/*.Intro Buttons */

section.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  margin-bottom: 32px;
}

.btn {
  border: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button.btn-modal {
  background: none;
  color: #FF5E84;
  height: 15px;
  letter-spacing: 0.2px;
  border-bottom: 1px solid transparent;
  transition: height 0.3s, border-bottom 0.3s;
}

button.fat {
  color: #FFF;
  background: #FF5E84;

  width: 150px;
  height: 40px;
  border-radius: 7px;
  box-shadow: 0px 8px 16px rgba(255, 0, 92, 0.16);
}

button.btn-modal:hover {
  height: 25px;
  border-bottom: 1px solid #FF5E84;
}

/*.Intro Footer */

footer {
  margin-bottom: 60px;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.2px;
  color: #777;
}

/* Last Ideias */

.idea {
  display: flex;

  background: #fff;
  box-shadow: 0px 4px 16px -8px rgba(1, 1, 1, 0.1);
  border-radius: 8px;
  padding: 32px;
  margin-bottom: 32px;
  overflow: hidden;
}

.idea img {
  width: 60px;
  height: 60px;

  margin-right: 32px;
}

.idea p {
  color: #777;
}

.idea .description {
  margin: 16px 0;
  width: 90%;
  max-width: 450px;

  /* Color 3 pontos no final de um texto muito grande*/
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

/* Modal */

.modal {
  background: #FF5E84;

  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  overflow: auto;
}

.modal .content {
  margin-top: 30px;
  color: #fff;
}

/* Modal Content */

.modal .content h1 {
  text-align: center;
  margin-bottom: 20px;

  text-transform: uppercase;
}

/* Modal Form */

.modal form {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5),
.content form div:nth-child(6) {
  grid-column: span 2;
}

.modal form input,
.modal form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid rgb(141, 25, 52, 0.5);

  outline: none;
  font-size: 16px;
}

.modal form textarea {
  resize: none;
  height: 100px;
}

form label {
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0.7px;
}

/* Form Buttons */

form .input-buttons {
  display: flex;
  justify-content: space-between;
}

form .form-btn {
  background: #fff;
}

form .form-btn, .close {
  width: 150px;
  height: 40px;
  margin: 25px 0;
  border-radius: 6px;
  transition: all 0.7s;
}

form .close {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff22;
  border: 1px solid #fff;
  color: white;
}

form .form-btn:hover {
  background: #0984e3;
  color: white;
}

form .close:hover {
  background: #fff;
  color: #FF5E84;
}

/* JS */

.hide {
  display: none;
}
